.shop {
  height: 100vh;
}

.product > img {
  height: 200px;
  width: 200px;
  /* background-image: url('../../productImages/product-animals-01.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; */
}