@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.shop {
  height: 90vh;
  @include flexbox(flex, column, wrap, flex-start, center, stretch);
  overflow: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.price, .product-name {
  color: $blue-light;
}

.product-card {
  height: 25vh;
  width: 25vh;
  @include flexbox(flex, column, wrap, center, center, stretch);
  margin-bottom: 50px;
  background-color: $blue-medium;
  text-decoration: none;
  
}

.product-img {
  height: 18vh;
  width: 18vh;
  box-shadow: $box-shadow-orange;
}
