@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.shop {
  height: 100vh;
  @include flexbox(flex, column, wrap, flex-start, center, stretch);
  overflow: auto;
}

.product-card {
  height: 225px;
  width: 225px;
}

.product-img {
  height: 200px;
  width: 200px;
}
