.cart-page {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  overflow: auto;
  padding-bottom: 10vh;
}

.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.cart-item-card {
  height: 18vw;
  width: 45vw;
  background-color: rgba(52, 134, 170, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-bottom: 2vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart-item-card:hover {
  background-color: rgba(52, 134, 170, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-img {
  height: 12vw;
  width: 12vw;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(225, 134, 68, 0.6);
          box-shadow: 0px 0px 10px 10px rgba(225, 134, 68, 0.6);
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.info {
  margin-bottom: 3vh;
}

.quantity {
  color: #c0dee0;
  font-size: 3vh;
  font-weight: 900;
  margin-top: 3vh;
}

.cart-price {
  color: #c0dee0;
  font-size: 5vh;
  -webkit-text-decoration: underline overline wavy #e18644;
          text-decoration: underline overline wavy #e18644;
}

.remove-item, .clear-cart, .checkout {
  background-color: rgba(225, 134, 68, 0.8);
  border: none;
  color: #c0dee0;
  padding: 2vh;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  display: inline-block;
}

.remove-item:hover, .clear-cart:hover, .checkout:hover {
  background-color: #e18644;
}

.order-card {
  height: 25vw;
  width: 25vw;
  background-color: rgba(52, 134, 170, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-bottom: 2vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.order-card:hover {
  background-color: rgba(52, 134, 170, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.total {
  color: #c0dee0;
  font-size: 5vh;
  -webkit-text-decoration: underline overline solid #e18644;
          text-decoration: underline overline solid #e18644;
}
/*# sourceMappingURL=Cart.css.map */