@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.landing {
  height: 90vh;
  @include flexbox(flex, row, wrap, space-between, center, stretch);
  overflow: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  color: $blue-light;
}

.login-card:hover, .register-card:hover {
  background: $blue-medium-transparent;
}

.company-info {
  height: 55vh;
  width: 30vw;
  padding: $card-padding;
  background-color: $blue-medium;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-card, .register-card {
  @include flexbox(flex, column, nowrap, center, center, stretch);
  height: 55vh;
  width: 30vw;
  padding: $card-padding;
  background-color: $blue-medium;
}
