@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.profile {
  height: 90vh;
  @include flexbox(flex, column, nowrap, space-around, center, center);
  padding-left: 10vw;
  padding-right: 10vw;
  color: $blue-light;
}

.profile-info {
  @include flexbox(flex, column, nowrap, space-around, center, center);
  height: 20vh;
  width: 60vw;
  background-color: $blue-medium-transparent;
  font-size: $font-large;
}

.profile-card {
  width: 100%;
  @include flexbox(flex, row, wrap, space-between, center, stretch);
}

.editing-card:hover, .deleting-card:hover {
  background: $blue-medium-transparent;
}

.editing-card, .deleting-card {
  @include flexbox(flex, column, nowrap, space-around, center, stretch);
  height: 30vh;
  width: 35vw;
  padding: $card-padding;
  background-color: $blue-medium;
}