

@mixin background-img($url, $c, $b-position, $repeat, $size, $position) {
  background-image: url($url);
  background-color: $c;
  background-position: $b-position;
  background-repeat: $repeat;
  background-size: $size;
  position: $position;
}

@mixin box-shadow($x, $y, $blur, $c){ 
  -webkit-box-shadow: $x, $y, $blur, $c;
  -moz-box-shadow: $x, $y, $blur, $c;
  -ms-box-shadow: $x, $y, $blur, $c;
  box-shadow: $x, $y, $blur, $c;
}

@mixin flexbox($display, $direction, $nowrap, $justify, $items, $content){
  display: $display;
	flex-direction: $direction;
	flex-wrap: $nowrap;
	justify-content: $justify;
	align-items: $items;
	align-content: $content;
}
