// DIMENSIONS
$height: 100vh;

// TEXT
$font-family: Chalkduster, fantasy;

// COLORS
$background-color: #cccccc;
$logo-background-color: #fad398;
$header-color: #3486aa;
$header-background-color: rgb(225,134,68, .45);
$header-background-color-hover: rgb(225,134,68, .3);


// IMAGES
$backdrop: url('/assets/Background-img-blue-flowers.png');
