@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
  padding: 20px;
  height: 10vh;
  width: 100%;
  background: $orange-dark;
  position: relative;
  color: $blue-medium;
  @include flexbox(flex, row, nowrap, space-between, center, stretch);
  text-shadow: $text-shadow-blue;
}

.header:hover {
  background: $orange-light;
}

.logo {
  height: 10vh;
  width: 10vh;
  background-color: $logo-background-color;
}

.logout:hover {
  font-weight: $font-bold;
  font-size: $font-medium;
}

.nav-button:hover {
  font-weight: $font-bold;
  font-size: $font-medium;
}

.header-buttons {
  width: 100vw;
  @include flexbox(flex, row, nowrap, space-around, center, stretch);
}

.nav-button {
  @include flexbox(flex, row, nowrap, space-around, center, stretch);
  margin-top: 5px;
  color: $blue-medium;
  text-decoration: none;
}

.website-name {
  font-weight: $font-bold;
  font-size: 40px;
}