@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
  height: 10vh;
  width: 100%;
  background: $orange-dark;
  position: relative;
  color: $blue-medium;
  @include flexbox(flex, row, nowrap, space-between, center, stretch);
}

.header:hover {
  background: $orange-light;
}

a {
  color: $blue-medium;
  text-shadow: $text-shadow-blue;
}

.logo {
  height: 10vh;
  width: 10vh;
  background-color: $logo-background-color;
}

.logout:hover {
  font-weight: $font-bold;
  font-size: $font-medium;
}

a:hover {
  font-weight: $font-bold;
  font-size: $font-medium;
}

.header-buttons {
  width: 100%;
  @include flexbox(flex, row, nowrap, space-between, center, stretch);
}

.nav-buttons {
  @include flexbox(flex, row, nowrap, space-between, center, stretch);
}

.website-name {
  font-weight: $font-bold;
  font-size: 40px;
}