@import './styles/mixins';
@import './styles/variables';

.App {
  height: 100vh;
  width: 100%;
  @include background-img('/assets/Background-img-blue-flowers.png', #cccccc, center, no-repeat, cover, fixed);
  font-family: $font-family;
}
