.App {
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/a4/87/1f/a4871fd881898bee7a386dd34f7e3124.png');
  background-color: #cccccc;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
