@import 'variables'
@import 'mixins'

.App {
  width: 100%;
  @include back
  background-image: url('/assets/Background-img-blue-flowers.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
